{% extends 'main/layout.html.twig' %}

{% block page_title %}Inventaire{% endblock %}

{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white">
                <h1 class="ma-20-bottom">Équipement :</h1>

            </div>
        </div>
    </div>
{% endblock %}

{% block moreJS %}
    {{ parent() }}
{% endblock %}