{% extends 'main/layout.html.twig' %}

{% block page_title %}{% trans from 'security.custom' %}connection{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <form method="post" class="col-md-6 offset-md-3 ma-25-top pa-20 bg-white">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">{% trans from 'security.custom' %}connection{% endtrans %}</h1>
            <label for="inputUsername">{% trans from 'security.custom' %}user{% endtrans %}</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control ma-10-bottom" required autofocus>
            <label for="inputPassword">{% trans from 'security.custom' %}password{% endtrans %}</label>
            <input type="password" name="password" id="inputPassword" class="form-control ma-10-bottom" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="flex center">
                <button class="btn btn-primary" type="submit">
                    {% trans from 'security.custom' %}connection_button{% endtrans %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}