/**
  Fonts
 */
@font-face {
  font-family: 'title-font';
  font-display: swap;
  src: url(../webfonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'txt-font';
  font-display: swap;
  src: url(../webfonts/OpenSans-Regular.ttf) format('truetype');
}

$title-font: 'title-font';
$txt-font: 'txt-font';


/**
  Colors
 */
$lightGrey : #9EB3C2;
$grey : #ccc;
$lightBlue : #62929E;
$white : #eee;
$lightWhite : #eee;
$dark : #212529;
$black : #111;
$orangeScores : rgba(255, 175, 0, 0.1);
$redScores : rgba(255, 0, 0, 0.1);
$greenScores : rgba(0, 204, 0, 0.1);
$orange : rgba(255, 175, 0, 1);
$red : rgba(255, 44, 44, 1);
$green : rgba(37, 183, 61, 1);
$note : #d1f4ec;