{% extends 'main/layout.html.twig' %}

{% block page_title %}Patchnote 1.0.0{% endblock %}

{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white full-height">
                <h1 class="ma-15-bottom">27/12/2020 - 1.0.0 : Sortie initiale</h1>
                <p>Sortie initiale pour le jour de l'an =D</p>
                <p>Joueurs : </p>
                <ul>
                    <li>Environ 350 sorts</li>
                    <li>Environ 50 objets</li>
                    <li>Fiche de personnage</li>
                    <li>Gestion de ses familiers</li>
                    <li>Gestion de ses inventaires & équipement de son héros</li>
                    <li>Gestion de ses personnages</li>
                    <li>Utilisation de consommables</li>
                    <li>Compétences trancendantes</li>
                </ul>

                <p>MJ : </p>
                <ul>
                    <li>Gestion des monstres</li>
                    <li>Gestion des quêtes</li>
                    <li>Gestion des monnaies</li>
                    <li>Gestion des objets</li>
                    <li>Gestion des combats</li>
                    <li>Gestion des comptes</li>
                    <li>Gestion des groupes</li>
                    <li>Gestion des héros</li>
                    <li>Gestion des compétences</li>
                    <li>Gestion des familiers</li>
                    <li>Gestion des inventaires</li>
                    <li>Lanceur de dés</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}