{% extends 'main/layout.html.twig' %}

{% block page_title %}Patchnote 1.0.1{% endblock %}

{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white full-height">
                <h1 class="ma-15-bottom">29/12/2020 - 1.0.1 : Mise à jour d'ergonomie</h1>

                <p>Joueurs : </p>
                <ul>
                    <li>Environ 50 sorts</li>
                    <li>Actualisation automatique lors de déblocage de sort et affichage du sort débloqué</li>
                    <li>Barre de recherche dans la liste des sorts</li>
                    <li>Affichage des patchnotes</li>
                    <li>Arcana : affichage des skills par archétypes de classe</li>
                </ul>

                <p>MJ : </p>
                <ul>
                    <li>Édition et suppression des archétypes de classe</li>
                </ul>

                <p>Serveur : </p>
                <ul>
                    <li>Rotation des fichiers de logs</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white full-height">
                <p><a href="{{ path('patchnote', {'patch': '1.0.0'}) }}">27/12/2020 - 1.0.0</a></p>
            </div>
        </div>
    </div>
{% endblock %}