{% extends 'main/layout.html.twig' %}

{% block page_title %}Patchnote 1.0.0{% endblock %}

{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white full-height">
                <h1 class="ma-15-bottom">31/12/2020 - 1.0.0 : Sortie initiale</h1>
                <p>Sortie initiale pour le jour de l'an =D</p>
                <ul>
                    <li>Environ 400 sorts</li>
                    <li>Environ 50 objets</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}