{% extends 'main/layout.html.twig' %}

{% block page_title %}En développement{% endblock %}

{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white full-height">
                <p>Fonctionnalité en cours de développement =D</p>
            </div>
        </div>
    </div>
{% endblock %}