{% extends 'main/layout.html.twig' %}

{% block page_title %}Arcana - Archétypes de classe{% endblock %}

{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white full-height">
                <h1 class="ma-20-bottom">Arcana - Archétypes de classe</h1>
                <ul>
                {% for tag in skillTags %}
                    <li class="ma-10-bottom"><a href="{{ path('arcana_skillTag', {'id': tag.id}) }}">{{ tag.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}